{
  "development": {
    "username": "",
    "password": "",
    "database": "construction_db",
    "host": "127.0.0.1",
    "dialect": "postgres",
    "migrationStorageTableName": "sequelize_meta"
  }
}
